<h1>High scores</h1>

 <div *ngIf="records$ | async as records ; else loading ">
     <table class="scoreTable">
         <tr>
             <th>Name</th>
             <th>Score</th>
             <th>Time</th>
         </tr>
         <tr *ngFor="let data of records$ | async">
             <td>{{data?.name}}</td>
             <td>{{data?.score}}</td>
             <td>{{data?.time}}</td>
         </tr>
     </table>
</div>

<ng-template #noRecordsFound>No records found</ng-template>
<ng-template #loading>Loading records...</ng-template>