
<div class="start">
    <h1>Select board size</h1>
    <button [routerLink]="['/play20']" routerLinkActive="router-link-active" >20</button>
    <button [routerLink]="['/play50']" routerLinkActive="router-link-active" >50</button>
    <button [routerLink]="['/play100']" routerLinkActive="router-link-active" >100</button>
    <button [routerLink]="['/play150']" routerLinkActive="router-link-active" >150</button>
    <button [routerLink]="['/play200']" routerLinkActive="router-link-active" >200</button>
    <button [routerLink]="['/play500']" routerLinkActive="router-link-active" >500</button>
</div>
<router-outlet></router-outlet>