table {
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}

td:hover {
    background-color: lightgray !important;
}

button {
    margin: 10px;
    margin-top: 20px;;
}

.board {
  margin-left: auto;
  margin-right: auto;
}

.game {
    margin: auto;
    text-align: center;
}

.notification {
    color: red;
}