<div class="game">
    <app-timer [timerRunning]="timerRunning" [gameStatus]="gameStatus" (endTimeEvent)=timerStopped($event)></app-timer>
<table class="board">
    <tr *ngFor="let row of rows; let i = index">
        <td class="board-box"
            *ngFor="let col of cols; let j = index"
            (click)="click($event)"
            id="{{i*cols.length+j}}">{{row}}</td>
    </tr>
</table>
    <div *ngIf="showNotification"
         class="notification">{{notificationMessage}}
    </div>
    <button *ngIf="!timerRunning" (click)="resetBoard()">Try again!</button>
    <button *ngIf="timerRunning" (click)="toggleTimer(2)">Stop</button>
    <!-- <button *ngIf="gameStatus === 1" (click)="toggleTimer(1)">Pause</button> -->
    <button (click)="toggleHelp()">{{helpButtonText}} helpers</button>

<app-score-table [level]="level"></app-score-table>
</div>