.timer {
    font-size:  xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    //border: 1px solid blue;
}

span {
    padding: 2px;
}

/* .blink {
    animation: blinker 1s linear infinite;;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
} */